.accordion {
    min-width: 200px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion-section-header {
    background-color: rgba(128,128,128,0.2);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion-section.active .accordion-section-header, 
.accordion-section-header:hover {
    background-color: rgba(128,128,128,0.3);
}
  
/* Style the accordion panel. Note: hidden by default */
.accordion-section-content {
    background-color: rgba(128,128,128,0.1);
    padding: 15px;
    max-height: 0;
    overflow: hidden;
}

.accordion-section.active .accordion-section-content { 
    max-height: 9999px;
    position: relative;
}

.padded {
    padding: 15px!important;
}

.padded > .flex.column > div:not(:last-child) {
    margin-bottom: 15px!important;
} 